{% block content %}

{% if page == 'login' %}

<div>
    <form method="POST" action="">

        {% csrf_token %}

        <label>CPF ou CNPJ:</label>
        <input type="text" name="cpf_cnpj" placeholder="Enter CPF ou CNPJ"/>

        <label>Password:</label>
        <input type="password" name="password" placeholder="Enter Password"/>

        <input type="submit" value="Login" />
    </form>

    <p>Haven't signed up yet?</p>
    <a href="{% url 'register' %}">Sign up</a>

</div>

{% else %}

<div>
    <form method="POST" action="">

        {% csrf_token %}

        {{form.as_p}}

        <input type="submit" value="Register" />
    </form>

    <p>Have a login?</p>
    <a href="{% url 'login' %}">Login</a>

</div>

{% endif %}

{% endblock %}